<!-- header部分の呼び出し -->
<%= render partial: "header" %>

<div class="form">
  <%= form_tag("/articles/#{@article.id}", method: :patch) do %>
    <ul>
      <h3>Edit Article</h3>
      <li><input type="text" name="nickname" placeholder="name" value= "<%= @article.nickname %>"</li>
      <li><textarea name="text"placeholder="text" rows="20" cols="40"><%= @article.text %></textarea></li>
      <li><input type="submit" value="SENT"></li>
    </ul>
  <% end %>
</div>